@import "C:/Users/Admin/Desktop/MD6/ShopBi-FE-Module6/src/assets/css/product.css";
@import "C:/Users/Admin/Desktop/MD6/ShopBi-FE-Module6/src/assets/css/home.css";
@import "C:/Users/Admin/Desktop/MD6/ShopBi-FE-Module6/src/assets/css/nav.css";
@import "C:/Users/Admin/Desktop/MD6/ShopBi-FE-Module6/src/assets/css/footer.css";
@import "C:/Users/Admin/Desktop/MD6/ShopBi-FE-Module6/src/assets/css/signup.css";
@import "C:/Users/Admin/Desktop/MD6/ShopBi-FE-Module6/src/assets/css/nucleo-icons.css";
@import "C:/Users/Admin/Desktop/MD6/ShopBi-FE-Module6/src/assets/css/nucleo-svg.css";

element.style {
  width: 100%;
  height: 141px;
  border: 1px solid;
}
