<nav class="navbarxx">
    <app-navbar></app-navbar>
</nav>

<section class="search-results">
    <h2 class="heading">search results for <span> product </span></h2>
    <div class="product-container">
        <div *ngFor="let product of products" class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="{{product.coverPhoto}}" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">{{product.category.name}}</h2>
                <p class="product-short-des">{{product.description}}</p>
                <span class="price"></span><span class="actual-price">${{product.priceSale}}</span>
            </div>
        </div>
    </div>
</section>


<app-footer></app-footer>
