    <nav class="navbar">
        <div class="nav">
            <a [routerLink]="['/index']"><img src="assets/img/dark-logo.png" class="brand-logo" alt=""></a>
            <div class="nav-items">
                <div class="search">
                    <input #search (change)="searchProduct()" type="text" class="search-box" placeholder="search brand, product">
                    <button class="search-btn" (click)="searchProduct()">search</button>
                </div>
                <a>
                    <img src="assets/img/user.png" id="user-img" alt="">
                    <div class="login-logout-popup hide">
                        <p class="account-info">Log in as, name</p>
                        <button class="btn" id="user-btn2">Purchase order</button>
                        <button class="btn" id="user-btn">Log out</button>
                    </div>
                </a>
                <a *ngIf="isCheckLogin" [routerLink]="['/index/inforComponent']"><p> Register Seller</p></a>
                <a *ngIf="isCheckLogin" [routerLink]="['/user/showOrders']"><p> My Orders</p></a>
                <a *ngIf="quantityCart == 0"><p style="color: red; bottom: 1px">{{quantityCart}}</p><img src="assets/img/cart.png" alt=""></a>
                <a *ngIf="quantityCart > 0" [routerLink]="['/showCartDetail']"><p style="color: red; bottom: 1px">{{quantityCart}}</p><img src="assets/img/cart.png" alt=""></a>
            </div>
        </div>
        <ul class="links-container">
            <li class="link-item" *ngFor="let c of categories"><a (click)="showProductsByCategory(c.id)"
                                                                  class="link">{{c.name}}</a></li>
        </ul>
</nav>
