


    <div class="nav">
       <a [routerLink]="['/index']"><img src="assets/img/dark-logo.png" class="brand-logo" alt=""></a>
        <div class="nav-items">
            <div class="search">
                <input type="text" class="search-box" placeholder="search brand, product">
                <button class="search-btn">search</button>
            </div>

            <div class="dropdown" *ngIf="!isCheckLogin">
                <img  src="assets/img/user.png" alt="Cinque Terre" >
                <div class="dropdown-content">
                    <img src="assets/img/user.png" alt="Cinque Terre">
                    <a routerLink="/login">
                        <div class="desc">Please Login</div>
                    </a>

                </div>
            </div>
            <div class="dropdown" *ngIf="isCheckLogin">
                <img  src="{{avatar}}" alt="Cinque Terre" width="30" height="30">
                <div class="dropdown-content">
                    <img src="assets/img/user.png" alt="Cinque Terre" width="30" height="30">
                    <div class="desc">Welcome Come , {{name}}</div>
                    <a (click)="logOut()"> Logout </a>

                </div>
            </div>
            <a href="#"><img src="assets/img/cart.png" alt=""></a>
        </div>
    </div>
    <ul class="links-container" >
        <li class="link-item" *ngFor="let c of categories"><a (click)="showProductsByCategory(c.id)" class="link">{{c.name}}</a></li>
    </ul>
