<body>
<img src="assets/img/loader.gif" class="loader" alt="">

<div class="alert-box">
    <img src="assets/img/error.png" class="alert-img" alt="">
    <p class="alert-msg">Error message</p>
</div>

<div class="container2">
    <img src="assets/img/dark-logo.png" class="logo" alt="">

    <div>
        <form class="form-register" #f="ngForm" (ngSubmit)="registerFrom()"  novalidate>

        <input type="text" autocomplete="off" #name id="name" placeholder="name" name="name" [(ngModel)]="form.name" #name="ngModel" minlength="3" maxlength="50" required>
        <input type="text" autocomplete="off" #username id="number" placeholder="username" name="username" [(ngModel)]="form.username" #username="ngModel" minlength="3" maxlength="50" required>
        <input type="email" autocomplete="off"  #email id="email" placeholder="email" name="email" [(ngModel)]="form.email" [formControl]="emailFormControl" required>
        <input type="password" autocomplete="off" #password  id="password" placeholder="password" name="password" [(ngModel)]="form.password" minlength="6" maxlength="10" #password="ngModel" matInput [type]="hide ? 'password' : 'text'" required>
        <input type="checkbox" checked class="checkbox" id="terms-and-cond">
        <label for="terms-and-cond">agree to our <a href="">terms and conditions</a></label>
        <br>
        <input type="checkbox" class="checkbox" id="notification">
        <label for="notification">recieve upcoming offers and events mails</label>
        <button #submitBtn class="submit-btn">create account</button>
        </form>
    </div>
    <a href="/login" class="link">already have an account? Log in here</a>
</div>

<script src="assets/js/token.js"></script>
<script src="assets/js/form.js"></script>
</body>
