<!--<header id="site-header">-->
<!--    <div class="container">-->
<!--        <h1>Shopping cart <span>[</span> <em><a routerLink="/index">Home</a></em> <span class="last-span is-open">]</span></h1>-->
<!--    </div>-->
<!--</header>-->

<!--<div class="container">-->

<!--    <section id="cart" *ngFor="let cartDetail of cartDetails">-->
<!--        <article class="product" >-->
<!--            <header>-->
<!--                <a class="remove">-->
<!--                    <img src="{{cartDetail.product.coverPhoto}}" alt="">-->

<!--                    <h3>Remove product</h3>-->
<!--                </a>-->
<!--            </header>-->

<!--            <div class="content">-->

<!--                <h1>{{cartDetail.product.name}}</h1>-->

<!--               {{cartDetail.product.description}}-->

<!--                <div title="You have selected this product to be shipped in the color yellow." style="top: 0" class="color yellow"></div>-->
<!--&lt;!&ndash;                <div style="top: 43px" class="type small">XXL</div>&ndash;&gt;-->
<!--            </div>-->

<!--            <footer class="content">-->
<!--                <span class="qt-minus">-</span>-->
<!--                <span class="qt">{{cartDetail.quantity}}</span>-->
<!--                <span class="qt-plus">+</span>-->

<!--                <h2 #fullPrice class="full-price">-->
<!--                    {{cartDetail.product.priceSale}}-->
<!--                </h2>-->

<!--                <h2 class="price">-->
<!--                    {{cartDetail.product.price}}-->
<!--                </h2>-->
<!--            </footer>-->
<!--        </article>-->

<!--    </section>-->

<!--</div>-->

<!--<footer id="site-footer">-->
<!--    <div class="container clearfix">-->

<!--        <div class="left">-->
<!--            <h2 class="subtotal">Subtotal: <span>163.96</span>€</h2>-->
<!--            <h3 class="tax">Taxes (5%): <span>8.2</span>€</h3>-->
<!--            <h3 class="shipping">Shipping: <span>5.00</span>€</h3>-->
<!--        </div>-->

<!--        <div class="right">-->
<!--            <h1 class="total">Total: <span>177.16</span>€</h1>-->
<!--            <a class="btn">Checkout</a>-->
<!--        </div>-->

<!--    </div>-->
<!--</footer>-->


<body>

<div >
    <h2>Shopping Cart</h2>
    <h4 style="text-align: center; color: green">Welcome to {{this.tokenService.getNameKey()}}</h4>
    <table class="table table-striped" *ngFor="let orderPMs of orderPmList;let a = index">
        <thead>
        <tr>
            <th>Productname</th>
            <th>Img</th>
            <th>Quantity</th>
            <th>Quantity Now</th>
            <th>Price</th>
            <th>Bill</th>
        </tr>
        </thead>
        <tbody *ngFor="let cartDetail of orderPMs.cartDetails;let i = index">
        <tr>
            <td>{{cartDetail.product.name}}</td>
            <td><img src="{{cartDetail.product.coverPhoto}}" height="200" width="200px"></td>
            <td>{{cartDetail.quantity}}</td>
            <td><input type="number" name="{{cartDetail.product.id}}" ngModel placeholder="Quantity Edit" id="{{cartDetail.product.id}}" (ngModelChange)="updateCart(cartDetail,$event ,a ,i)" >
            <td>{{cartDetail.product.priceSale}}</td>
            <td>{{cartDetail.product.priceSale*cartDetail.quantity}}</td>
            <td>{{cartDetail.product.priceSale*cartDetail.quantity}}</td>
        </tr>
        </tbody>
        <tr>
            <td style="padding: 30px"><h4>Address: </h4></td>
            <td colspan="6"> <input type="text" placeholder="Address" [(ngModel)]="address" value="{{address}}"  ></td></tr>
        <tr>
            <td colspan="6" style="text-align: right ; color: red">Total : {{getTotalBillByPm(orderPMs.cartDetails)}}</td>
        </tr>

    </table>
    <table >
        <tr>
            <td colspan="6" style="text-align: right ; color: red"><h3>Total : {{getTotalBill(orderPmList)}}</h3></td>
        </tr>
        <tr>
            <td colspan="6"><button class="btn btn-success" id="submit-btn" (click)="createOrders(orderPmList)">Check Out</button></td>
        </tr>
    </table>
</div>


</body>
