<body>


<img src="assets/img/loader.gif" class="loader" alt="">

<div class="alert-box">
    <img src="assets/img/error.png" class="alert-img" alt="">
    <p class="alert-msg">Error message</p>
</div>

<div class="container2">
    <img src="assets/img/dark-logo.png" class="logo" alt="">
    <form class="form-login" #f="ngForm" (ngSubmit)="f.form.valid&&ngSubmit()" novalidate>
    <div>
        <input  type="text" name="username" [(ngModel)]="form.username" #username="ngModel" minlength="3" maxlength="50" required>
        <input type="password" name="password" [(ngModel)]="form.password" minlength="6" maxlength="10" #password="ngModel">
        <button class="submit-btn">log in</button>
    </div>
    <a href="/register"  class="link">don't have an account? Create one</a>
    </form>
</div>

<script src="assets/js/token.js"></script>
<script src="assets/js/form.js"></script>
</body>
